
body
{    
    background-color: red;
    height:2000px;
}

.centered
{
    background-color: black;
    height:400px;
    width:80%;
}
.wrapper
{
    background-color: green;
    height:800px;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer
{
  max-width: 50%;
    background-color: aliceblue;
    width:100%;
    height:200px;
    display: inline-block;
    line-height: 200px;
    vertical-align: middle;
}

span
{
  display: inline-block;
  vertical-align: middle;
  line-height: 18px; /* <-- adjust this */
}

.container
{
  display: flex;
  flex-direction: row;
}
.imageContainer
{
  background-color: brown;
}

.centerTextVertically
{
  display: inline-block;
  vertical-align: middle;
  line-height: 18px; /* <-- adjust this */
}

